<table class="table">
  <tbody>
    <tr>
      <td width="100"><%= image_tag(@tweet.user.image, width: 100) %></td>
      <td colspan="2"><%= link_to @tweet.user.name,@tweet %>
          <span class="mar-l-10" >
            (<%= @tweet.created_at.strftime('%Y-%m-%d %H:%M:%S')%>)
          </span><br>
          <%= @tweet.content %><br>
          <%= link_to "返信",@tweet %>
          <span class="mar-l-10" >お気に入り(<%= @tweet.favorites.count %>)
          </span>
      </td>
    </tr>
    <% @tweets.each do |tweet| %>
      <tr>
        <td></td>
        <td width="100"><%= image_tag(tweet.user.image, width: 100) %></td>
        <td><%= link_to tweet.user.name,tweet %>
            <span class="mar-l-10" >
              (<%= tweet.created_at.strftime('%Y-%m-%d %H:%M:%S')%>)
            </span><br>
            <%= tweet.content %><br>
            <%= link_to "返信",tweet %>
            <span class="mar-l-10" >お気に入り(<%= tweet.favorites.count %>)
            </span>
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td width="100">
        <%= image_tag(user_image, width: 100) %>
      </td>
      <td>
        <%= form_for(@rep_tweet) do |f| %>
          <%= f.text_area :content, class: "form-control mar_b_5",
                           placeholder: "(本文は140文字以内で投稿)" %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :reply_tweet_id, value: @tweet.id %>
          <div class="actions">
            <%= f.submit "返信", class: "btn btn-default pull-right mar-t-5" %>
          </div>
          <% if @rep_tweet.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
              <ul>
                <% @tweet.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

